html{
    scroll-behavior: smooth;
}
 
 
 :root{
     --bgcolor:var(191f22);
     --blue:var(01cff0);
 }
 
 

#navbar_main{
    background: rgb(27 47 48 / 50%);
    position: fixed;
    z-index: 1;
    width: 100%;
}

.navbar-brand{
    color:#00dcff;
   
}
.navbar,li,a{
    color: white;
}
.navbar,li,a:hover{
    color: #00dcff;
}

.navbar-brand:hover{
    background: none;
}

#navbarNav{
    flex-wrap: wrap;
    flex-direction: row-reverse;
}


.navbar-toggler{
    background: #00dcff;
    height: 30px;
    width: 45px;
    padding-left: 4px;
    border-left-width: 0px;
    padding-right: 0px;
}

.navbar-nav,li{
    margin-left: 15px;
}

.li,.a:hover{
    color: aliceblue;
}
 
 
 
 #home{
    background: url(main.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

#home,.h1{
    font-weight: 600;
    letter-spacing: 5px;
    color: #1f323a;
}

.explore{
    background: #1f323a;
    color: #a3a3d9;
    border-radius: 5px;
    width: 100px;
}

.explore:hover{
    color: aliceblue;
}

.search_bar{
    padding-top: 20px;
}

.search{
    color: #3fff3f;
    background: #1f323a;
}

@media screen and (max-width:770px){
    .search_bar{
        width: fit-content;
    }
}

.logo{
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    background: #191f22;
}

.blog-logo{
    width: 300px;
    margin-left: 30px;
}

.margin_line{
    border-right:inset #01cff0; 
}

@media screen and (max-width:770px){
    .margin_line{
        border-right: none;
        padding-bottom: 50px;
        border-bottom: inset #00dcff;
    }
}
.about{
    padding: 80px;
    text-align: center;
    color: white;
}

.first_card{
    margin-top: 100px;
}

#card{
    margin: 35px;
}

.card-1{
    border: none;
}


@media screen and (min-width:770px){
    #card{
        margin: 0%;
    }
}


.card-body{
    background: black;
    color: white;

}

.card-text,.h3{
    font-family: 'Times New Roman', Times, serif;
}
.date{
    color: #a7a7a7;
    font-size: 15px;
}


#sm-6{
    padding-top: 30px;
}

.card-combine{
    padding-top: 30px;
}

@media screen and (max-width:770px){
    .card-combine{
        width: 50%;
        padding: 30px;
    }

    .card-text-size{
        font-size: 1.3rem;
    }
    #sm-6{
        padding: 30px;
    }
}

@media screen and (max-width:770px){
    .eight-card,.ninth-card{
        margin: 35px;
    }
}

.subscribe{
    background: url(b5.jpg);
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*@media  screen and (max-width:770px){
    .subscribe{
        background: url(b4.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}*/

.subscribe-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.connect{
    font-size: 1.75rem;
    padding: 45px;
    text-align: center;
}

.connect{
    color: #2c5468;
}
.connection-method{
    font-family: cursive;
    color: white;
}    

#connection-method{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#connection-method{
    margin-left: 30%;
    margin-right: 30%;
}

@media screen and (max-width:770px){
    #connection-method{
        margin-right: 20%;
        margin-left: 20%;
    }
}

.subscribe-button{
    margin-bottom: 15px;    
    border-radius: 4px;  
    padding: 5px;
}

.subscribe-button:nth-child(1){
    background: #095eb1;
    border: none;
    height: 34px;
}

.subscribe-button:nth-child(2){
    background: #ff6c8c;
    border: none;
    height: 34px;
}

.subscribe-button:nth-child(3){
    background: #1d8ff2;
    border: none;
    height: 34px;
}

.subscribe-button:nth-child(1):hover,
.subscribe-button:nth-child(2):hover,
.subscribe-button:nth-child(3):hover{
    background: rgb(100, 219, 100);
}